<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <meta name="code-author" data-encoding="base64" data-content="SmFjb3BvIGFudGlwYXRpY28gU2Nhbm5lbGxhCg==">
    <meta name="code-date" data-content="2021/03/09">
    <meta name="code-author-motto" data-encoding="base64" data-content="cm0gLXJmIC8gLS1uby1wcmVzZXJ2ZS1yb290Cg==">

    <title>{% block title %}Quality Assurance Portal{% endblock %} - Università degli Studi di Modena e Reggio Emilia</title>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</body>
</html>