{% extends "uts/base.html" %}
{% load static %}
{% block content %}
<!-- The app's hidden style is inline because if not, there could be a frame in which the app is not loaded, the css
     neither and the $% magic strings are visible. The app's div will be shown once Vue has been loaded. -->
<div id="ticketsApp" style="display:none">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-3">Attività Recenti</h4>
      <div class="mb-3 mt-3 w-100" v-if="recentTickets == null">
        <img src="{% static 'images/loading.gif' %}" class="loadingGif" />
      </div>
      <div class="row" v-else>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4" v-for="ticket in recentTickets">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title bi click" :class="getIconClass(ticket.status)"
                v-on:click="openTicketDetails(ticket.id)">
                &nbsp;$% ticket.name %$</h5>
              <h6 class="card-subtitle mb-2 text-muted">$% dateToString(new Date(ticket.ts_last_modified)) %$</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bi" :class="getIconClass(event.status)" v-for="event in ticket.events">
                  &nbsp;$% event.owner.name + ' ' + getEventMessage(event.status) %$</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">I Miei Ticket</h4>
          <div class="w-100 mb-3" v-if="ownedTickets == null">
            <img src="{% static 'images/loading.gif' %}" class="loadingGif"/>
          </div>
          <div v-else>
            <ul class="list-group list-group-flush">
              <li-ticket :ticket="ticket" v-for="ticket in ownedTickets"></li-ticket>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">I Ticket che Seguo</h4>
          <div class="w-100 mb-3" v-if="subscribedTickets == null">
            <img src="{% static 'images/loading.gif' %}" class="loadingGif"/>
          </div>
          <div v-else>
            <ul class="list-group list-group-flush">
              <li-ticket :ticket="ticket" v-for="ticket in subscribedTickets"></li-ticket>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block pagescripts %}
<script src="{% static 'js/components/li-ticket.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}