{% extends "uts/base.html" %}
{% load static %}
{% block content %}
<div id="ticketsApp">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="margin-bottom: 22px;">Attività Recenti</h4>
      <div style="width: 100%; margin-bottom: 30px;" v-if="recentTickets == null">
        <img src="{% static 'images/loading.gif' %}"
          style="max-width: 50px; margin-left: auto; margin-right: auto; display: block; " />
      </div>
      <div class="row" v-else>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4" v-for="ticket in recentTickets">
          <div class="card">
            <div class="card-body">
              <h5 style="cursor: pointer;" class="card-title bi" :class="getIconClass(ticket.status)"
                v-on:click="openTicketDetails(ticket.id)">
                &nbsp;$% ticket.name %$</h5>
              <h6 class="card-subtitle mb-2 text-muted">$% dateToString(new Date(ticket.ts_last_modified)) %$</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bi" :class="getIconClass(event.status)" v-for="event in ticket.events">
                  &nbsp;$% event.owner.name + ' ' + getEventMessage(event.status) %$</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="margin-bottom: 22px;">I Miei Ticket</h4>
      <div style="width: 100%; margin-bottom: 30px;" v-if="ownedTickets == null">
        <img src="{% static 'images/loading.gif' %}"
          style="max-width: 50px; margin-left: auto; margin-right: auto; display: block; " />
      </div>
      <div v-else>
        <ul class="list-group list-group-flush">
          <li style="cursor: pointer;" class="list-group-item bi" :class="getIconClass(ticket.status)"
            v-on:click="openTicketDetails(ticket.id)" v-for="ticket in ownedTickets">
            &nbsp;$% ticket.name %$</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block customscripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}