{% extends "uts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-4 order-md-2">
      <p></p>
      <h4>Local User Login</h4>
        {% crispy form %}
    </div>
    <div class="col-md-8 order-md-1">
      <p></p><h4>Wait what?!</h4>
      <p>This page is used mostly for development purposes.</p>
      <p>If you ended up here by mistake and you don't have any credentials, please click on the big blue
        <strong class="text-primary">Login</strong> button up right, or click
        <a href="{% url 'uts_shibboleth:login' %}">here</a>.</p>
    </div>
  </div>
{% endblock %}