{% extends "uts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if scheduleSuccess %}
<div class="alert alert-success mb-3" role="alert">
  <strong>Successo!</strong><br/>
  Creazione del ticket programmata con successo!
</div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <p></p>
      <h4>Crea un Nuovo Ticket</h4>
        {% crispy form %}
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
  const ScheduleApp = {
    data() {
        return {
            scheduled: {{form.scheduled.value|default_if_none:"false"|lower}},

        }
    }
  }
  const app = Vue.createApp(ScheduleApp).mount("#scheduleApp");

  $("#createTicket").click((e) => {
    if(app.scheduled) {
      let date = $("#scheduleDate").val();
      let time = $("#scheduleTime").val();
      if(date !== "" && time !== "") {
        let datetime = new Date(date + " " + time);
        $("#scheduleDateTime").val(datetime.toISOString());
      }
    }
  })
</script>
{% endblock %}