{% extends "uts/base.html" %}
{% load static %}
{% block content %}
  <div id="ticketsApp" style="display:none">
    <div class="card">
      <div class="w-100 mb-3" v-if="ticket == null">
        <img src="{% static 'images/loading.gif' %}" class="loadingGif"/>
      </div>
      <div class="card-body" v-else>
        <h3 class="card-title mb-1">
          $% ticket.name %$ <span class="text-muted small">#$% ticket.id %$</span>
        </h3>
        <h6 class="card-subtitle mb-2 bi" :class="[QACommon.getIconClass(ticket.status),ticket.is_closed?'text-muted':'']">
          &nbsp;$% QACommon.getStatusName(ticket.status) %$</h6>
        <hr/>
        <div class="row">
          <div class="col-lg-9 col-md-12 mb-3">
            <div class="card mb-3" v-for="event in ticket.events.slice().reverse()">
              <div class="card-header bi" :class="QACommon.getIconClass(event.status)">
                &nbsp;$% event.owner.name %$ $% QACommon.getEventMessage(event.status) %$ $%
                QACommon.dateDiffFromNow(event.timestamp) %$
              </div>
              <div class="card-body"
                   v-if="event.status !== 'DUPLICATE' && event.status !== 'ESCALATION' && event.info.length > 0">
                $% event.info %$
              </div>
              <div class="card-body" v-else-if="event.status === 'DUPLICATE'">
                <h6 class="small">&nbsp;Duplicato del ticket <a :href="TICKET_DETAILS_URL + event.info">#$% event.info %$</a></h6>
              </div>
              <div class="card-body" v-else-if="event.status === 'ESCALATION'">
                <h6 class="small">&nbsp;Il nuovo proprietario è <strong>$% event.newOwner.name %$</strong></h6>
              </div>
            </div>
            <div class="card mb-2" v-if="ticket.is_owned || !ticket.is_closed">
              <div class="card-header bg-secondary text-white">
                <strong>Aggiungi un'azione</strong>
              </div>
              <div class="card-body">
                <div class="alert alert-danger mb-3" role="alert" v-if="error != null">
                  <strong>Errore:</strong> $% error %$
                </div>
                <div class="alert alert-success mb-3" role="alert" v-if="error == null && success">
                  <strong>Successo!</strong><br/>
                  Azione eseguita con successo!
                </div>
                <select class="form-select" v-model="action">
                  <option value="NONE" selected hidden disabled>Seleziona un'azione</option>
                  <option value="ANSWER" v-if="!ticket.is_closed">Rispondi</option>
                  <option value="INFO_NEEDED" v-if="!ticket.is_closed">Richiedi Informazioni</option>
                  <option value="NOTE" v-if="!ticket.is_closed">Aggiungi una nota</option>
                  <option value="DUPLICATE" v-if="!ticket.is_closed">Segnala come duplicato</option>
                  <option value="ESCALATION" v-if="ticket.is_owned">Trasferisci la proprietà</option>
                  <option value="OPEN" v-if="ticket.is_owned && ticket.is_closed">Apri il ticket</option>
                  <option value="CLOSED" v-else-if="ticket.is_owned && !ticket.is_closed">Chiudi il ticket</option>
                </select>
                <div v-if="action == 'ANSWER' || action == 'INFO_NEEDED' || action == 'NOTE'">
                  <textarea class="form-control mt-2" rows="3" v-model="info"></textarea>
                </div>
                <div v-if="action == 'ESCALATION'">
                  <div class="form-group mt-2">
                    <label for="escalation-email">Indirizzo email del nuovo proprietario:</label>
                    <input type="email" class="form-control" id="escalation-email" placeholder="mario.rossi@unimore.it" v-model="newOwnerEmail">
                  </div>
                </div>
                <div v-if="action == 'DUPLICATE'">
                  <div class="form-group mt-2">
                    <label for="duplicate-url">URL del ticket duplicato:</label>
                    <input type="url" class="form-control" id="duplicate-url" placeholder="https://qaticket.ing.unimore.it/ticket/1337" v-model="duplicationUrl">
                  </div>
                </div>
                <button class="btn btn-success mt-2 w-100"
                  v-if="action != 'NONE'"
                  v-on:click="actionButtonClick()">Invia</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 mb-3">
            <div class="mb-4">
              <h5>Tags</h5>
              <div v-if="ticket.tags.length < 1">
                <span class="text-muted small">&nbsp;Nessun tag</span>
              </div>
              <ul>
                <li v-for="tag in ticket.tags">$% tag %$</li>
              </ul>
            </div>
            <div class="mb-4">
              <button class="btn w-100"
                 :class="ticket.is_subscribed?'btn-danger':'btn-success'"
                 v-on:click="toggleSubscription">$% ticket.is_subscribed?'Smetti di seguire':'Segui' %$</button>
            </div>
            <div class="mb-4">
              <h5>Seguito da</h5>
              <div v-if="ticket.subscribers.length < 1">
                <span class="text-muted small">&nbsp;Nessuno</span>
              </div>
              <ul>
                <li v-for="subscriber in ticket.subscribers">$% subscriber.full_name %$</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block pagescripts %}
  {% csrf_token %}
  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  </script>
  <script src="{% static 'js/ticket.js' %}"></script>
{% endblock %}